.border-top {
    text-align: center;
}

.text-top{
    font-size: 40px;
    position: absolute;
    top: 8%;
    left: 50%;
}

.subtext-top{
    font-size: 20px;
    position: absolute;
    top: 13%;
    left: 47%;
}

.nadpis {
    height: 50px;
    background-color: green; 
}

.historie {
    height: 50px;
    background-color: green; 
}

.nadpis h2 {
    font-size: 22px;
    color: white;
    padding-left: 10px;
    padding-top: 12px;
    position: relative;   
}

.historie h2 {
    font-size: 22px;
    color: white;
    padding-left: 10px;
    padding-top: 12px;
    position: relative;   
}


.podnadpis {
    font-size: 20px;
    color: gray;
    margin-top: 12px;
    margin-bottom: 12px;
}

.prostyText{
    font-size: 15px;
    color: black;
    text-align: left;
}

.poznamka{
    font-size: 14px;
    text-align: left;
    background-color: rgb(104, 187, 104);
    padding: 8px;
}

.italy_map {
    width: 100%;
    height: unset;
}

.mini {
    font-size: 12px;
}

#tabulka {
    width: 100%;
}

.procenta {
    background-color: red;
    width: 86%;
}

footer {
    width: 100%;
    height: 30%;
    
}

#autor {
    padding-top: 50px;
    padding-bottom: 30px;
    padding-right: 40px;
}

#autor h2 {
    font-size: 15px;
}

#zdroj {
    padding-left: 40px;
}

.botka {
    width: 100%;
    height: 60px;
    padding-left: 50px;
    padding-right: 50px;
}