.historie {
    height: 50px;
    background-color: green; 
}

.nadpis h2 {
    font-size: 22px;
    color: white;
    padding-left: 10px;
    padding-top: 12px;
    position: relative;   
}

.historie h2 {
    font-size: 22px;
    color: white;
    padding-left: 10px;
    padding-top: 12px;
    position: relative;   
}

.podnadpis {
    font-size: 20px;
    color: gray;
    margin-top: 12px;
    margin-bottom: 12px;
}

.poznamka{
    font-size: 14px;
    text-align: left;
    background-color: rgb(104, 187, 104);
    padding: 8px;
}

.italy_map {
    width: 100%;
    height: unset;
}

.mini {
    font-size: 12px;
}

#tabulka {
    width: 100%;
}

.procenta {
    background-color: red;
    width: 86%;
}